

<section class="contacto" id="contacto">
    <form id="formulario" action="/cliente/mensaje" method="post">
        <h2 class="title_contacto">Contactame</h2>
       <label for="nombre">Nombre</label>
       <input type="text" name="nombre" id="nombre" placeholder="Nombre">
       <label for="email">Email</label>
       <input type="email" name="email" id="email">
         <label for="mensaje">Mensaje</label>       
        <textarea name="mensaje" id="mensaje" cols="30" rows="10" ></textarea>
          <input type="submit" value="Enviar">Enviar</input>
    </form>
    <div id="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3407.3715255145607!2d-58.007570925232606!3d-31.34872539298221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95adc278fa10b779%3A0xbbc09fc00237d7fe!2sHip%C3%B3lito%20Yrigoyen%203400%2C%20E3205%20Concordia%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses!2sar!4v1698158021157!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</section> 