 <section class="redes_contacto">
        <div class="enlaces"><img src="../Imagenes/email.png" alt="email"><a id="enlace" href="https://www.gmail.com">Email</a></img></div>
        <div class="enlaces">  <img src="../Imagenes/instagram-icon.png" alt="Instagram"><a id="enlace" href="https://www.instagram.com/">instagram</a></img></div>
        <div class="enlaces"> <img src="../Imagenes/facebook.png" alt="Facebook"><a  id="enlace" href="https://wwww.facebook.com">Facebook</a></img></div>

        


</section>
