 <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
     <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
{{>nav}}

 <div class="textoeliminado">
<h1 class=" text-center mt-5" style="color: green;">
    Te logueaste Correctamente
</h1>
<a href="../mostrar" class="btn btn-primary">Volver</a>
</div>
