he
{{>head}}
{{#each articulo}}

<div class="contenido_card">
        <div class="card">
            
                <h5 class="card_title" >{{ this.titulo }}</h5>
                <p  class="card_descripcion">{{ this.descripcion }}</p>
                <p  class="card_descripcion">{{ this.precio }}</p>
            
               
         </div>
</div>
                <form action="actualizar/{{_id}}">
                    <button class="btn btn-warning">
                        Actualizar Producto
                    </button>
                    <a href="/agregar" class="btn btn-primary">
                    Subir Publicacion
                </a>
                    
                </form>
        

    {{/each}}