{{>head}}

{{>nav}}
    {{#each publicacion}}
<div class="contenido_card">
        <div class="card">
            <img src="./Imagenes/plato.png" alt="producto para la venta" class="imagen">
            
                <h5 class="card_title" >{{ this.titulo }}</h5>
                <p  class="card_descripcion"></p>{{ this.descripcion }}</p>
                
               
         </div>
</div>
                <form action="actualizar/{{_id}}">
                    <button class="btn btn-warning">
                        Actualizar Producto
                    </button>
                    <a href="/subirpublicacion" class="btn btn-primary">
                    Subir Publicacion
                </a>
                    
                </form>
        

    {{/each}}

