

{{>head title="Registro"}}
{{>nav}}
<div class="contenidologin">
    <form id="formulario" action="/registro" method="post">
        <h2 class="title_contacto">Ingresa tus Datos</h2>
       <label for="nombre">Nombre</label>
       <input type="text" name="nombre" id="nombre" placeholder="Nombre">
       <label for="email">email</label>
       <input type="email" name="email" id="email">
        <label for="password">password </label>
         <input type="password" name="password" id="password" placeholder="password">
          <input type="submit" value="Enviar"></input>
          <strong>Ya tienes cuenta?<a href="login">Login</a>
          </strong>
    </form>


</div>