{{>head}}

{{>nav}}
<section class="descripcion">
  <div class="imgMi">
    <img src="Imagenes/fotoPerfil.jpg" alt="SobreMi">
  </div>
  <div class="sobremi">
    <h3 class="title_sobremi">Te Cuento un poquito de mi</h3>
    <p class="text_sobremi">
        Lorem ipsum dolor sit amet consec , 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo perferendis dolores obcaecati, accusamus dolorum esse suscipit hic iure, nisi fugiat aspernatur praesentium dicta debitis explicabo laboriosam veritatis nemo temporibus omnis.
        Rerum adipisci vitae id dolor nisi sed modi enim quos nostrum. Dolorum enim facere tempore obcaecati nesciunt quo, in numquam reiciendis a laboriosam molestiae incidunt eveniet sed culpa voluptates possimus?
        Enim, aliquid. Nostrum assumenda, laudantium sit labore unde quidem soluta dolorum, neque rerum alias quasi? Labore voluptates ut debitis, mollitia natus, exercitationem error ducimus corporis distinctio doloremque perspiciatis illo quaerat!
        Voluptatum explicabo cum eveniet animi laborum sit libero sequi eum, dolores vero aliquam nisi. Minus, fuga ab doloribus, quia neque quasi at eligendi magni reprehenderit officiis atque delectus suscipit perferendis!
        Iste officiis ducimus possimus, fuga incidunt distinctio pariatur esse rerum veritatis illo odio beatae earum nam ea eveniet ratione blanditiis dolorem minima sint. Aut iste ratione neque sunt, 
        provident aperiam?</p>
        <button  href=" " class="info">Mas info</button>
  </div>

</section>
